body {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
}
#root {
    max-width: 7.5rem;
    margin: auto;
}
h1, h2, h3, h4,  h5, h6, p {
    padding: 0;
    margin: 0;
}